.container {
  width: 100%;
  color: white;
}

.bannerContainer {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  display: block;
}

.bannerContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: color-mix(in srgb, #333, transparent 20%);
  z-index: 1;
  pointer-events: none;
}

.infoBoxOverlay {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
  gap: 2rem;
}

.infoBoxRowItem {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.infoBoxRowItem h1 {
  font-size: 2.5rem;
}

.infoBoxRowItem p {
  font-size: 1.2rem;
  font-weight: 200;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.buttonLink {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition:
    color 0.3s,
    border-color 0.3s;
  padding: 1rem;
  background-color: #6abdad;
  border: solid 2px transparent;
  border-radius: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 1rem;
  align-self: center;  
}

.buttonLink:hover {
  color: #a400a2;
  border-color: #a400a2;
}

@media (max-width: 600px) {
  .infoBoxRowItem {
    max-width: 100%;
  }

  .infoboxRow img {
    width: 20%;
    height: auto;
    align-self: center;
  }

  .infoBoxOverlay {
    padding: 2rem 1rem;
  }

  .buttonLink {
    padding: 1.5rem;
    width: 200px;
    font-size: 1rem;
    margin-top: 1rem;
  }
}