@media (min-width: 600px) {
  .navList a {
    background: transparent;
    color: var(--font-color);
    border: none;
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    border-radius: 2rem;
    transition: background 0.2s, color 0.2s;
    box-shadow: none;
    cursor: pointer;
  }
  .navList a.active {
    background-color: #6abdad;
    color: black;
    border: solid 2px transparent;
    border-radius: 50px;
    transition: color 0.3s;
    padding: 1rem;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
  }
  .navList a.active:hover {
    color: #a400a2;
    border: solid 2px transparent;
  }
}

.headerContainer {
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--foreground);
  flex-wrap: wrap;
}

.logo {
  height: 120px;
  width: auto;
  grid-column: 1;
}

.headerTitle {
  display: none;
  font-size: 1.5rem;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  color: var(--foreground);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  grid-column: 3;
  justify-self: end;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--foreground);
  border-radius: 2px;
  transition: 0.3s;
}

.nav {
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
  justify-content: center;
}

.navList a {
  background: transparent;
  color: var(--font-color);
  text-decoration: none;
  font-weight: 700;
  border: none;
  transition: color 0.3s;
  padding: 1rem;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.active {
  background-color: #6abdad;
  color: black;
  border: solid 2px transparent;
  border-radius: 50px;
  transition: color 0.3s, border-color 0.3s;
}

.active:hover {
  color: #a400a2;
  border-color: #a400a2;
}

.navList a:hover {
  color: #a400a2;
  border-color: #a400a2;
}

.footer {
  padding: 2rem;
  background-color: var(--background);
  color: var(--foreground);
  border-top: 1px solid var(--border);
  text-align: center;
  margin-top: auto;
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }

  .headerTitle {
    display: block;
  }

  .nav {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
  }

  .nav a {
    color: var(--foreground);
    font-weight: 500;
    padding: 0rem;
    background-color: transparent;
  }

  .navOpen {
    max-height: 500px;
  }

  .navList {
    flex-direction: column;
    gap: 0;
    padding: 1rem 0;
    width: 100%;
  }

  .navList li {
    border-bottom: 1px solid var(--border);
    padding: 0.75rem 0;
  }

  .navList li:last-child {
    border-bottom: none;
  }

  .logo {
    height: 50px;
  }
}
