.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  width: 100%;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
  padding-bottom: 0px;
}

.bannerContainer {
  position: relative;
  width: 100%;
}

.banner {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  display: block;
}

.infoBoxOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.infoBoxOverlay > * {
  pointer-events: auto;
}

.servicesContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 80%;
  text-align: center;
  margin-bottom: 120px;
}

.servicesContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50%;
  border-radius: 10px;
}

.servicesImgContainer {
  max-width: 50%;
  overflow: hidden;
}

.servicesImgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 10px;
    max-width: 100%;
  }

  .banner {
    width: 300%;
    overflow: hidden;
    transform: translate(-300px);
  }

  .servicesContent {
    max-width: 100%;
  }

  .servicesContainer {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    max-width: 95%;
  }

  .servicesImgContainer {
    max-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #000;
    --text-secondary: #666;
  }
}
