.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  gap: 1rem;
  margin: 2rem 0;
  margin-top: 0;
  padding: 3rem;
  border-radius: 50px;
  border: 1px solid white;
  background-color: color-mix(in srgb, #333, transparent 20%);
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: white;
}

.description {
  font-size: 1.1rem;
  color: #a5a5a5;
  margin-bottom: 10px;
}

.buttonLink {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: color 0.3s, border-color 0.3s;
  padding: 1rem;
  background-color: #6abdad;
  border: solid 2px transparent;
  border-radius: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;  
}

.buttonLink:hover {
  color: #a400a2;
  border-color: #a400a2;
}

.buttonRow {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
    max-width: 98%;
  }
}
