.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  width: 100%;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 90px 60px;
  padding-bottom: 0px;
}

.buttonLink {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition:
    color 0.3s,
    border-color 0.3s;
  padding: 1rem;
  background-color: #6abdad;
  border: solid 2px transparent;
  border-radius: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 1rem;
  align-self: center;
  margin-top: 2rem;
}

.buttonLink:hover {
  color: #a400a2;
  border-color: #a400a2;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 10px;
    max-width: 100%;
  }

  .buttonLink {
    padding: 1.5rem;
    width: 200px;
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #000;
    --text-secondary: #666;
  }
}
