.servicesContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 80%;
  text-align: center;
  margin-bottom: 120px;
}

.servicesContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50%;
  border-radius: 10px;
  font-size: 1.05rem;
}

.servicesImgContainer {
  max-width: 50%;
  overflow: hidden;
}

.servicesImgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.buttonLink {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition:
    color 0.3s,
    border-color 0.3s;
  padding: 1rem;
  background-color: #6abdad;
  border: solid 2px transparent;
  border-radius: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-self: center;
}

.buttonLink:hover {
  color: #a400a2;
  border-color: #a400a2;
}

@media (max-width: 600px) {
  .servicesContent {
    max-width: 100%;
  }

  .servicesContainer {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    max-width: 95%;
  }

  .servicesImgContainer {
    max-width: 100%;
  }
}
