.container {
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.bannerContainer {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  display: block;
}

.bannerContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: color-mix(in srgb, #333, transparent 20%);
  z-index: 1;
  pointer-events: none;
}

.infoBoxOverlay {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
  gap: 2rem;
}

.infoboxRow {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.infoBoxRowItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 600px) {
  .infoboxRow {
    flex-direction: column;
    gap: 1.5rem;
  }

  .infoboxRow img {
    width: 20%;
    height: auto;
    align-self: center;
  }

  .infoBoxOverlay {
    padding: 2rem 1rem;
  }
}
