.infoBoxMainContainer {
  position: relative;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid var(--border);
}

.infoBoxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}

.infoBoxOverlay > * {
  pointer-events: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 80%;
  max-height: 90%;
  overflow-y: auto;
  margin: 0;
  padding: 3rem;
  border-radius: 50px;
  border: 1px solid white;
  background-color: color-mix(in srgb, #333, transparent 20%);
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: white;
  margin-bottom: 30px;
}

.description {
  font-size: 1.1rem;
  color: #a5a5a5;
  margin-bottom: 10px;
}

.buttonRow {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.buttonLink {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: color 0.3s, border-color 0.3s;
  padding: 1rem;
  background-color: #6abdad;
  border: solid 2px transparent;
  border-radius: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 1rem;
}

.buttonLink:hover {
  color: #a400a2;
  border-color: #a400a2;
}

@media (max-width: 600px) {
  .container {
    padding: 1.5rem;
    width: 95%;
    max-width: 95%;
    border-radius: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.5rem;
  }

  .banner {
    width: 300%;
    transform: translateX(-33.33%);
  }

  .title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .description {
    line-height: 1.4;
    font-size: 0.9rem;
  }

  .buttonLink {
    padding: 0.8rem;
    width: 130px;
    font-size: 0.9rem;
    margin-top: 1rem
  }
}